html,body, h1, ul, li, button {
	margin: 0;
	padding: 0;
	line-height: 1.0;
	font-family: 'SimHei' ;
}

body{
	background-color:#edebeb;
}
article{
	background-color: white;
	padding: 20px;
	width: 700px;
	margin:auto;
}

h2 {
	border-bottom: 1px solid #000000

}
ul{
  width: 300px;
  margin: 0 auto;
}

a{
	text-decoration: none;
	display:flex;
	background-color: #fff;
	border: 2px solid #b3b3b3;
	color: #b3b3b3;
	line-height: 50px;
	height:50px;
	width:200px;
	justify-content: center;
	align-items: center;
	margin:10px auto;
}
.button:hover {
	background-color: #98c5e9;
	border-color: #98c5e9;
	color: #fff;
}
.button:active {
	background: #808080;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .2);
	color: #1679a1;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
}
.logout:active {
	background: #808080;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .2);
	color: #1679a1;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
}
}
