body{
	background-color: black;
}

table{
	width:500px;
}

th{
	width: 30%;
	height:40px;
	color: white;
	background-color: ;
}

td{
	text-align: center;
	width: 70%;
	background-color:;
}

input{
	background-color: ;
	width:80%;
}

.button{
	width:100px;
	height: 50px;
	background-color:blue;
	color: yellow;
	font-weight:bold;
}

