@CHARSET "UTF-8";
body{
	background-color: #ebebeb;
	font-family:'SimHei';
	color: #4c4c4c;
	text-align:center;
}

article{
	background-color: white;
	margin:auto;
	padding: 20px;
	width:850px;
}

table{
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0;
	width: 800px;
	margin: 20px auto;
}
td,tr{
	border:1px solid #4c4c4c;
	padding: 10px;
}

#category{
	background-color: #cccccc;
}
.btn {
	text-decoration: none;
	background-color: #fff;
	border: 2px solid #b3b3b3;
	color: #b3b3b3;
	line-height: 30px;
	    padding: 10px 30px;

}
.btn:hover {
	background-color: #98c5e9;
	border-color: #98c5e9;
	color: #fff;
}
.delete:hover{
	background-color: #98c5e9;
	border-color: #98c5e9;
	color: #fff;
}