@CHARSET "UTF-8";

body {
    width:100%;
    margin:0;
    padding:0;
    color:black;
    font-family:Arial, sans-serif;
    line-height: 18px;
    background:#d1ffd1;
    margin-left:30px
    }

table.list {
    width: 50%;
    margin:5px 0 5px;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;

}
table.list tr td {
    font-size: 12px;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding: 4px;
}
table.list tr {
    background: #E6EAFF;
}

 .btn {
	background-color: #84ff84;
	color: #000000;
}
.btn:hover {
	letter-spacing: 5px;
}