@CHARSET "UTF-8";

body {
    width:100%;
    margin:0;
    padding:0;
    color:black;
    font-family:Arial, sans-serif;
    line-height: 18px;
    background:#d1ffd1;
    margin-left:30px
    }

.btn {
	background-color: #84ff84;
	color: #000000;
}
.btn:hover {
	letter-spacing: 5px;
}