@CHARSET "UTF-8";

/*reset*/
html, body, h1, p, ul, li, div, input, a{
	margin: 0;
	padding: 0;
	line-height: 1.0;
	font-family: 'SimHei', "Hiragino Kaku Gothic Pro", "Meiryo", Sans-Serif;
}
img { max-width: 100%;}
a { text-decoration: none;}

/* レイアウト */
body { background: #ebebeb;}
#container {
	width: 760px;
	margin: 0 auto;
	padding: 20px;
	background: #fff;
}
#wrapper { overflow: hidden;}

/* ページ上部 */
h1 {
	padding-bottom: 5px;
	margin-bottom: 50px;
	border-bottom: 1px solid #000;
}

/* カート内商品*/
table {
	width: 760px;
	border: 1px solid #000;
	border-collapse: collapse;
}
th,td { border: 1px solid #000;}
td {
	width: 70px;
	text-align: center;
}
td.itemImg {
	width: 160px;
	padding: 10px;
}
td.itemName { width: 200px;}


/* レジ部分 */

.btn{
	display: block;
	width: 100px;
	text-align: center;
	background-color: #fff;
	border: 2px solid #b3b3b3;
	color: #b3b3b3;
	line-height: 50px;
	padding: 10px 20px;
	margin: 30px auto;
}
.btn:hover {
	background-color: #98c5e9;
	border-color: #98c5e9;
	color: #fff;
}
