@CHARSET "UTF-8";


body {
	background-color: #ebebeb;
	font-family:'SimHei';
}
article{
	background: white;
	text-align: center;
	width:700px;
	margin:50px auto;
	padding: 20px;
}

table{
	margin: 10px auto;
	width:700px;
}

th,td{
	padding: 20px;
	margin:10px;
}

input{
	border: none;
	background: transparent;
	outline: 0;
	border-bottom: 1px solid #aaaaaa;
}
input:focus{
	border-bottom:1px solid #000000;
}

/*-------------�^�C�g��+�A���_�[�o�[------------*/
h2{
	padding: 10px;
	border-bottom: 2px solid #000000;
	text-align: left;
}

/*-------------------�{�^��---------------------*/
.btn {
	text-decoration: none;
	background-color: #fff;
	border: 2px solid #b3b3b3;
	color: #b3b3b3;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 50px;
}
.btn:hover {
	background-color: #98c5e9;
	border-color: #98c5e9;
	color: #fff;
}


.btn2{
	text-decoration: none;
	background-color: #fff;
	border: 2px solid #b3b3b3;
	color: #b3b3b3;
	padding:2px;
}
.btn2:hover {
	background-color: #98c5e9;
	border-color: #98c5e9;
	color: #fff;
}
