body{
	background-color: #ebebeb;
	font-family:'SimHei';
	color: #4c4c4c;
	text-align:center;
}

article{
	background-color: white;
	margin:auto;
	padding: 20px;
	width:850px;
}

table{
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0;
	width: 800px;
	margin: 20px auto;
}
td,tr{
	border:1px solid #4c4c4c;
	padding: 10px;
}

#category{
	background-color: #cccccc;
}

.day_width{
	width:20%
}
