body {
	width: 950px;
	margin: 0 auto;
	color: #4c4c4c;
	background-color: #ebebeb;
	font-family:'SimHei';
}

.itemdetail {
	background-color: #ebebeb;
}

.clearfix:after {
	display: block;
	clear: both;
	content: "";
}

.left {
	float: left;
	width: 500px;
}

img {
	width: 100%;
	height: auto;
	float: left;
}

.right {
	width: 400px;
	float: right;
	text-align: center;
}

.itemtitle {
	width: 400px;
	height: 200px;
	float: right;
	border: 1px solid #b3b3b3;
	margin-bottom: 10px;
	background-color: white;
}

.itemcomment {
	clear: both;
	width: 400px;
	height: 400px;
	float: right;
	border: 1px solid #b3b3b3;
	background-color: white;
	margin-bottom: 10px;
}

.btn {
	text-decoration: none;
	background-color: #fff;
	border: 2px solid #b3b3b3;
	color: #b3b3b3;
	line-height: 50px;
	padding: 10px 30px;
}

.btn:hover {
	background-color: #98c5e9;
	border-color: #98c5e9;
	color: #fff;
}