@CHARSET "UTF-8";

body{
	background-image:url("../img/umi.jpg");
	background-size: 100% 150%;
	color: #ccffcc;
}

.midashi{
text-align:center;
font-size:500%;
}

.list{
text-align:center;
color:#FFFFFF;
font-size:300%;
}


#in {
	position: relative;
	width: 100%;
	height: 30px;
	margin: 10 auto;
	text-align: center;
}

#in .logout {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	margin: -1.5em 0 0 -50%;
}

#in input[type="submit"]{
	font-size:200%
}