@CHARSET "UTF-8";

/* submit送信ボタン */
.attendance table {
	border-collapse: separate;
	border-spacing: 0px 10px;
	text-align: center;
}

.attendance td, th {
	font-weight: bold;
	padding: 5px 10px;
}



.attendance .button {
	width: 150px;
	height: 30px;
	font-weight: bold;
	color: #ffffff;
	background-color: #51a7f9;
	padding: 5px 10px;
	box-shadow: 0px 3px #1e90ff;
	border-radius: 2px;
	border-style: none;
}

.attendance .button:hover {
	position: relative;
	top: 3px;
	box-shadow: none;
}

@media only screen and (max-width:420px) {
	.attendance h1 {
		font-size: 150%;
		font-weight: bold;
	}
	.attendance table {
		width: 100%;
		border-collapse: collapse;
		font-size:15;
	}
	.attendance tr {
		width: 100%;
		border-bottom: 2px #eee solid;
	}
	.attendance th, td {
		border: none;
		text-align: center;
	}
	#tr_reason {
display:inherit;
	}
	.attendance td {

	}
	.td1 {
		text-align: right;
		width: 30%;
		background-color: #1e90ff;
		color: #ffffff;
	}
	.td2 {
		width: 70%;
	}
	.ymd {
		width: 70%;
	}
	}