@CHARSET "UTF-8";


/* submit送信ボタン */



.button {
	width: 200px;
	height: 54px;
	text-align: center;
	text-decoration: none;
	line-height: 54px;
	outline: none;
	background-color: #0080ff;
	color: #fff;
}
.button:hover {
	background-color: #59b1eb;
}