@CHARSET "UTF-8";

#decisionTitle{
	text-align:center;
}

.textInline{
	display: inline;
}

table{
	z-index: -1;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid;
}

tr, td{
	border: 1px solid;
}

.saveText{
	width: 100%;
}

.center{
	text-align: center;
}

#tableApproval{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid;
}

.width4{
	width: 120px;
}

.well{
	z-index: -1;
}

@media screen and (max-width: 768px) {
/* 768pxまでの幅の場合に適応される */

     table{
	width:100%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid;
}

     .saveText{
	width: 100%;
}

	#tableApproval{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid;
}

.textApproval{
	width: 100%;
}

.tableCost{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid;
}


}
