@CHARSET "UTF-8";

table, td, th{
	height: 20px;
	table-layout: fixed;
}

td{
	text-align:center;
}

input[type="text"] {
/* 	text-align: center; */
	width:100%;
	text-align:center;
}

#searchText{
	width:150px;
}

#registration{
	width:170px;
}
#name{
	width:170px;
}

#id{
	width:20px;
}

#display{
	width:400;
}

.decisionid{
	width:75px;
}

.smallText{
	width:50px;
}

.bigText{
	width:100px;
}

