.headerSpace{
	height: 78px;
	width: 100%;
    background: url('');
    background-size: cover;
    position: absolute;
}

/*タイトルロゴ--------------------------------*/


.openConnect{
  display: inline-block;
  position: relative;
  padding: 0.5em 1em;
  font-size: 30px;
  text-decoration: none;
  color: #3595db;
  transition: .6s;
}
.openConnect:hover {
    color:#ff8080;
}

.openConnect:before,.square_btn35:after{
  position: absolute;
  top: 0;
  content:'';
  width: 8px;
  height: 100%;
  display: inline-block;
}
.openConnect:before{
  border-left: solid 10px #0080c0;
  border-right: solid 10px #82bcf7;
  border-top: solid 100px #82bcf7;
  border-bottom: solid 1px #82bcf7;
  left: 0;
}


/*タイトルロゴここまで-------------------------*/

.menuGroup{
	width: 100%;
	text-align: right;
}

.menu{
	display: inline;
	width: 150px;
	height: 75px;
	text-align: center;
}

.goButton{
	display: inline-flex;
	top: 68px;
	position: absolute;
	margin: 0 auto;
}

#menuBer{
	text-align: left;
    background: #80ff80;
    width: 150px;
    height: 40px;
    line-height: 50px;
    text-align: center;
    border: #195dbe 1px solid;
}

#menuElementGroup{
	background: #80ff80;
	display: none;
    border: #195dbe 1px solid;
    width: 150px;
    position: absolute;
}

.menuElement{
}


/*ボタンデザイン--------------------------------*/

.part_line{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 0.8em;
    text-decoration: none;
    border-bottom: solid 2px #668ad8;
    border-left: solid 2px #668ad8;
    color: #668ad8;
    transition: .4s;
    }

.part_line:hover {
    padding-left: 0.9em;
    padding-right: 0.3em;
}

/*ボタンデザインここまで-------------------------*/

#location{
	width: 50px;
	height: 40px;
}

#selectBer{
	width: 240px;
	height: 40px;
	font-size: 15px;
	font-weight: bold;
	align: center;
}