@CHARSET "UTF-8";

.none {
  display: none !important;
}

.icon {
  display: inline-block;
  background-size:100% 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 5px;
}
input + .icon {
  width: 70px;
  height: 70px;
  border: solid 2px rgba(255,255,255,0);

}

/* チェックされた選択肢を濃く表示 */
input:checked + .icon {
  width: 70px;
  height: 70px;
  border: solid 2px red;
}
