#calendar{
	height:100px;
	width:500px;
	display:block;
	margin-top:50px;
	margin-left:0px;
}

#memo{
	margin-top:400px;
}

#a{
	position:absolute;
	right:200px;
	top:250px
}

.fc-sat {
	color: #0080ff;
}

.fc-sun {
	color: #FF0000;
}

body{
	height:1000px;
}

