body{
	background-color: #ebebeb;
	font-family: 'SimHei' ;
	color:#4c4c4c;
}


#adide{
	list-style: none;
}

article{
	background-color: white;
	padding: 20px;
	width: 700px;
	margin:auto;
}

h2{
	padding: 10px;
	border-bottom: 2px solid #000000;
}

table{
	margin: 10px;
	width:700px;
}

th,td{
	padding: 20px;
	border-bottom: 1px solid #000000;
}

th{
	border-right: 1px solid #000000;
}



#employee{
	list-style: none;
	padding-left: 0px;
}

#content{
	padding-left: 15px;
}
iframe{
	margin:auto;
	text-align: center;
}
#iframe{
	text-align: center;
}
