body{
  background-image:url("../img/ps_neutral.PNG");
}

p{
  width:100%;
}

img{
  width: 100%;
}

.header{
  background-color: #195dbe;
  height: 330px;
}

.ad{
  background-color: #c5c5c5;
  height: 100px;
  width: 100%;
}

.footer{
  background-color: #c5c5c5;
  height: 500px;
}

.wide-button{
  width:80px;
}

.input-search{
  height:40px;
  width:70%;
}

.input-button{
  height:40px;
  width: 60px;
}

.center{
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

@media (min-width: 1000px){
  .border-left{
    border-color: #999;
    border-left-style: solid;
    border-width: 2pt;
  }
}

@media (max-width: 1000px){
  .border-bot{
    border-color: #999;
    border-bottom-style: solid;
    border-width: 2pt;
  }
}

.border-bottom{
  box-shadow:0px 2px #999;
}

.blog{
  background-color: #f9ffb6;
  border: solid;
  margin: 30px;
  width: 90%;
}

.study{
  background-color: #d8efff;
  border: solid;
  margin: 30px;
  width: 90%;
}

.search{
  background-color: #fff;
  border: solid;
  margin: 30px;
  width: 90%;
}

.chat{
  background-color: white;
  border: solid;
  height: 300px;
  margin: 0px;
  width: 100%;
}

.picture{
  width: 80%;
}

.color img{
  width:50px;
  height:50px;
}

.index li{
  display:inline;
}

.delete{
  background-color: #DA8989;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#DA8989), to(#B32424));
  background-image: -webkit-linear-gradient(top, #DA8989, #B32424);
  background-image: -moz-linear-gradient(top, #DA8989, #B32424);
  background-image: -ms-linear-gradient(top, #DA8989, #B32424);
  background-image: -o-linear-gradient(top, #DA8989, #B32424);
  background-image: linear-gradient(to bottom, #DA8989, #B32424);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#DA8989, endColorstr=#B32424);
  border:1px solid #cd5e5e;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display:inline-block;
  font-size:12px;
  font-family:arial, helvetica, sans-serif;
  font-weight:bold;
  padding: 10px 10px 10px 10px;
  text-decoration:none;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  color: #FFFFFF;
}

.delete:hover{
  background-color: #ce6262;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ce6262), to(#891b1b));
  background-image: -webkit-linear-gradient(top, #ce6262, #891b1b);
  background-image: -moz-linear-gradient(top, #ce6262, #891b1b);
  background-image: -ms-linear-gradient(top, #ce6262, #891b1b);
  background-image: -o-linear-gradient(top, #ce6262, #891b1b);
  background-image: linear-gradient(to bottom, #ce6262, #891b1b);
  border:1px solid #c13c3c;
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ce6262, endColorstr=#891b1b);
}

.detail{
  width:400px;
}

.left{
  float: left;
}

.right{
  float: right;
}

.clear{
  clear: both;
}

.block-center{
  margin-right:auto;
  margin-left:auto;
}

.white{
  background-color: white;
}

.text-white{
  color:white;
}

.text-red{
  color:red;
}

.post_thumb {
	width: 100%;
	background-color: #c5c5c5;
	height: 100px;
}

.post_thumb img.yy {
    width: 100%;
    height: 100px;
}


.readmore-button-box a {
   background-color: #cc0000; /* ボタンの色(濃い赤) */
   color: white;              /* ボタンの文字色(白) */
   border-radius: 18px;       /* 角丸の半径 */
   padding: 0.5em 2.5em;;     /* 内側の余白 */
   display: inline-block;     /* ボタン全体をクリック可能に */
   font-weight: bold;         /* ボタンの文字を太字に */
   font-size: 1.25em;         /* ボタンの文字サイズ */
}
.readmore-button-box a:hover {
   background-color: red;     /* ボタンにマウスが乗ったら明るい赤色に変化 */
}

.readmore-button-box {
   text-align: center;
   background-image: linear-gradient( 180deg, rgba(255,255,255,0.5), white );   /* 上から下へ：[白色半透明]から[白色]へグラデーション */
   padding-top: 4.5em;   /* ボタンの上側でグラデーションを見せる距離(長さ) */
   margin-top: -6.5em;   /* ボックスを上側に重ねる距離(長さ) */
   position: relative;   /* ボックス全体を上に重ねるために必要 */
}

