@CHARSET "UTF-8";

/*リセット*/
html,body,h1,div,img,ul,li,a, iframe {
	margin: 0;
	padding: 0;
	line-height: 1.0;
	font-family:"メイリオ","Weltron Urban";
}
ul {list-style: none;}
a { text-decoration: none;}


/*レイアウト*/
body {
	background-image: url(../img/bgImg.jpg);
}
#container {
	width: 830px;
	margin: 0 auto;
	padding: 10px;
}
.fancy {margin: 30px auto;}
.fancy li {
	float: left;
	margin-right: 10px;
	}
.fancy li:last-child{margin-right: 0;}
.google iframe {
  margin: 30px auto 100px;
}
.btn {
	width: 150px;
	height: 50px;
	background: #ff8040;
	font-size: 30px;
	font-weight: bold;
	color: #FFF;
}
