/* アコーディオン */
#menu{
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: #195dbe 1px solid;
    cursor: pointer;
}

.element{
    background: #cef;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: #195dbe 1px solid;
    display: none;
}

.shooping{
    background: #cef;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: #195dbe 1px solid;

}

#menuber{
	position:absolute;
	top: 120px;
}

#shopping{
	cursor: pointer;
}

#shoppingElement{
	cursor: pointer;
    position:absolute;
    display:none;
}
