body{
	background-color: #ebebeb;
	font-family: 'SimHei' ;
	color:#4c4c4c;
}

article{
	background: white;
	text-align: center;
	width:800px;
	margin: auto;
	padding: 20px;
}

img{
	width:200px;
	height:250px;
}

table{
	width:700px;
	margin: auto;
}

td,th{
	padding: 10px 10px;
}

input{
	border: none;
	background: transparent;
	outline: 0;
	border-bottom: 1px solid #aaaaaa;
}
input:focus{
	border-bottom:1px solid #000000;
}


.radio{
	margin: 10px;
}

div{
	margin: 20px;
}

#addres table td,th,#money table td,th{
	padding:10px;
}
.btn{
	text-decoration: none;
	background-color: #fff;
	border: 2px solid #b3b3b3;
	color: #b3b3b3;
	line-height: 50px;
	padding: 10px 30px;

}
.btn:hover {
	background-color: #98c5e9;
	border-color: #98c5e9;
	color: #fff;
}
